# Configuración de Base de Datos
# MongoDB Atlas
DB_URL_ATLAS=mongodb+srv://jcallejasv:dentisapp2025@dentisapp.uqfkne5.mongodb.net/db-dentisapp

# Configuración del Servidor
PORT=3001
NODE_ENV=development

# JWT Secret (Cambiar en producción)
JWT_SECRET=tu_jwt_secret_super_seguro_aqui

# Configuración de CORS (opcional)
CORS_ORIGIN=http://localhost:4200 