# Configuración de Base de Datos
# MongoDB Atlas (Producción)
DB_URL_ATLAS=mongodb+srv://jcallejasv:lB9uCPcsSo4TT0zz@dentisapp.uqfkne5.mongodb.net/?retryWrites=true&w=majority&appName=dentisapp

# MongoDB Local (Desarrollo)
DB_URL_LOCAL=mongodb://localhost:27017/db-dentisapp

# Configuración del Servidor
PORT=3001
NODE_ENV=development

# JWT Secret (Cambiar en producción)
JWT_SECRET=tu_jwt_secret_super_seguro_aqui

# Configuración de CORS (opcional)
CORS_ORIGIN=http://localhost:4200 